* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #56bfe8;
background: linear-gradient(90deg,rgba(86, 191, 232, 1) 0%, rgba(99, 145, 219, 1) 42%, rgba(63, 67, 186, 1) 100%);
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(77, 10, 165);
    border-radius: 8px;
    margin-left: 10px;
    position: fixed;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.menu a {
    background-color: rgb(118, 183, 236);
    color: rgb(4, 4, 88);
    border-radius: 5px;
    font-family: Calibri;
    text-decoration: none;
    padding: 10px;
    transition: 1s;
    box-shadow: 1px 1px rgb(9, 9, 56);
}

a:hover {
    background-color: rgb(4, 4, 88);
    color: white;
    transition: 1s;
}

.section1 {
    height: 300px;
    margin: 10px;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.section1 p {
    margin-top: 20px;
}

.btn {
    background-color: rgb(175, 62, 85);
    color: rgb(4, 4, 88);
    font-family: Calibri;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    text-decoration: none;
    justify-content: space-around center;
    color: white;
    box-shadow: 3px 3px rgb(71, 71, 145);
}

.main1 {
    background-color: white;
    height: 400px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: rgb(109, 98, 98);
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card1-inside {
    background-color: rgb(226, 238, 243);
    width: 250px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(109, 98, 98);
    box-shadow: 3px 3px rgb(132, 132, 218);
    text-align: center;
}

.section2 {
    height: 400px;
    margin: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2-inside {
    background-color: rgb(151, 120, 201);
    width: 250px;
    height: 200px;
    border-radius: 5px;
    padding: 50px 10px ;
    margin: 20px;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 3px 3px rgb(88, 88, 179);
    text-align: center;
}

.main2 {
    background-color: white;
    height: 500px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: rgb(109, 98, 98);
}

.card3 {
    margin-top: 20x;
}

.card3-inside {
    background-color: rgb(226, 238, 243);
    width: 750px;
    height: 70px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px rgb(62, 62, 206);
}

#circle {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 750;
    background-color: rgb(96, 96, 231);
    border-radius: 50%;
    color: white;
    padding: 15px;
    margin: 20px;
}

.article {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

h1, h2, p, h4 {
    font-family: Calibri;
}

h3 {
    color:  rgb(228, 224, 30);
    font-family: Calibri;
}

.footer {
     background-color: rgb(77, 10, 165);
    border-radius: 8px;
    height: 60px;
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}